In [ ]:
--->It is a open source RDMS
--->Using for larger or small application
--->It is a built in c/c++
--->In mysql they are using sql paraser which is written in yacc which generates the LAR(1) parser--->parse tree---->to check syntax
--->mysql is communicating with the OS to creat the relational database into hdd
--->mysql commmand line is tool thriugh which we can directly communicate with the database using text interface.

---> Show databases
--->It is recommended to use the keyword in the capital letter and variable or identifier in a small letter.
--->Information_schema,mysql,sys and performances_schema its a default databases  available in the mqsql DBMS.


--->Data bases can contain number of tables.
1.performance_schema:
                    It contains all tables related to the performances metrics it is genarally used for the performances tunning I/O time,query execution time.
2.Information_schema:
                    It is a metadata which contains the information about the database objects3.
                    -->Tables,views,constraints etc

--->To use paticular database:
               syntax:     usedatabase_name
                    ex: use information_schema;

--->How to know currently we are in which datbases:
                    Select database();

--->To see the table in the data base we have to go into the database,

Syntax: Show tables;
--->We want to konw about particular command:
    Syntax: help command_name;
--->To close the mysql command prompt the query is
     exit;

### DDL COMMAND

--->It refers to the structure of the schema.
--->We are using the DDL command when we want to make the changes in structure or schema(Database structure or table)
--->These commands are not dealing with the data in the databses ot tables.
    1.CREATE:
            --->It used to creat the databses and tables in the databases.
                    Syntax for creating the databases:
                                                        CREATE DATABASES databses_name;

    Syntax for creating the Table inside the database:
                                                        CREATE TABLE table_name(attribute datatypes);
                                                        create database_name;

    2.DESCRIBE / DESC :
                --->It is used to describe the table
                --->Syntax:
                            describe table_name;
                            desc table_name;
                --->Field---> Attribute name
                --->type----> Datatype of the attributes
                --->null----> attribute is having a null value or not (if yes menas that attribute can have the null value)
                --->key-----> wether the attribute is a key or not
                --->default-> if we are not specifying the values by default which will it take(implict way)
                --->extra---> applied any extra constrains such as auto incriment/decrement etc....
                

                ---> CREATE TABLE EMO1(eID INT, eName  VARCHAR(20), salary INT);
                    
                
                --->CREATE TABLE emp2(eID INT NOT NULL, eName VARCHAR(20), Salary INT NOT NULL);

                --->CREATE TABLE emp3(eID INT NOT NULL, eName VARCHAR(20), Salary INT NOT NULL DEFAULT 0);


    3.DROP:
            -->Deleting the database or the table(database objects)
            -->Database objects: table,database,views.
    DROP THE DATABSE:
                SYNTAX: DROP DATABSE database_name;

                        drop the table:
                        DROP TABLE table_name;
      to see the tables present in the databases:
          syntax: show tables;


4.ALTER:
-->It is use to modify the database object, 
-->add or drop columns
-->syntax:
            ALTER TABLE table_name add attribute datatype;
            ALTER TABLE table_name drop attribute;
            ALTER TABLE table_name modify attribute datatype;

5.RENAME:
--->It is used to rename the database object
SYNTAX:
RENAME TABLE old_table_name to new_table_name;


6.Truncate:
--->It will delete all the rows in the table but the structure will remain intact(unchcnaged).
--->Syntax: TRUNCATE TABLE table_name;
--->Default constraints:
                        --->By default DBMS will provide the NULL value if we are not specifying the value but if want to change that default value we can use default constraints



DML: Data manipulation language:
                            --->These commands are talking about the data inside the table.
                            --->Whenever we want to make the changes in the data which is present inside the table then we will use DML command.

CRUD operation:

Create: insert(adding the data on to the table)
read:   we are reading the data(DQL)select
update: we are modifying the data (update)
delete: deleting the particular record.


Insert command: --->So it is used to insert the particular record in the database.
                --->It is DML command
                --->SYNTAX:
                            INSERT INTO table_name
                            values(v1,v2,v2--);
                        ---> INSERT INTO TABLE_NAME(CN1,CN2---------)VALUES(V1,V2-------);
                        --->If we are not specifying the coloumn

DATABSES CONSTRAINTS:
                    --->Database constraints refers to the predefined rules that we need to be followed.
                    --->It is used to maintain the consistency, accuracy in the database
                    --->We have four types os constraints
                            1.Domain constraints
                            2.entity internity constraints
                            3.referential integrity constraints
                            4.key constraints
1.Domian Constraints:
                    -->Domain constraints will always applied on the attributes/coloumns.
                    -->check(age>=18)
                    -->if we are not giving the proper domain value in the attributes we will get the error domain constraints is violeted
2.Entity integrity constraints:
                    -->It will talk about the primary key.
                    -->There must be one primary key present inside the table.
                    -->Primary key is used to identify the records in the database uniquely.
3.Key Constraints:
                    --->It is always talking about the candidate keys.
                    --->Set of all uniques attributes in the table is called candiate key.
                    --->From this candidate key one key will become the primary key and other keys are used for the databses (alternate key).
                    --->So whenever we are taking any attributes we called it as super key.
                    --->Key is said to be primary key if it is unique and not null.
                    --->And every table must have the primary key.
                    --->If one attribute is not elgibel to become a primary key then combined the multiple attribute to form the primary key.
                    --->If no attribute is there to become a primary key and after combining also we are not able to form the primary key then DBMS will                         generate the primary key internally we called it as surrogate.s