In [ ]:
list1=['Ram','Raheem','Robert']
list2=[25,30,35]

In [7]:
list1=['Ram','Raheem','Robert']
list2=[25,30,35]
for i,j in zip(list1,list2):
    print(i,j)

Ram 25
Raheem 30
Robert 35

In [ ]:
## for dicitnoary {key:value}

In [9]:
d1={'Ram':25,'Raheem':30,'Robert':35}
d1

## In this case key is 'Ram','Rahemm','Robert'
## And value is {25,30,35}

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [11]:
d2={25:'Ram',30:'Raheem',35:'Robert'}
d2
# in this case key is [25,30,35]
# value is="RAM","RAHEEM","ROBERT"

{25: 'Ram', 30: 'Raheem', 35: 'Robert'}

In [13]:
d3={'even':[2,4,6],'odd':[3,5,7]}
d3

{'even': [2, 4, 6], 'odd': [3, 5, 7]}

In [15]:
d4={[2,4,6]:'even',[3,5,7]:'odd'}
d4
##In dictinoary list will not work

TypeError: unhashable type: 'list'

In [ ]:
--->For the above list is not working.

In [17]:
d5={(2,4,6):'even',(3,5,7):'odd'}
d5
## in dicitnoary tuple will work

{(2, 4, 6): 'even', (3, 5, 7): 'odd'}

In [ ]:
--->Here "tuple" is working.

In [19]:
d1={'A':1,'B':2,'A':1}
d1                     ## in this dictionary duplicates will not work.

{'A': 1, 'B': 2}

In [21]:
d2={'A':1,'B':2,'A':3}
d2
# Here we have a new pair so latest one will exist.

{'A': 3, 'B': 2}

In [ ]:
--->Dictionary is a key:value pair
--->at values position you can take any data type.
--->at keys position list and dictionary will fail.
--->Duplicates are not allowed
--->If you want update a key value, latest value it will take.

### type

In [26]:
type(d1)

dict

In [28]:
d1={'Ram':25,'Raheem':30,'Robert':35}
max(d1)

'Robert'

In [ ]:
--->Maximum value and minimum value is based on the key or value

In [30]:
d1={'Ram':25,'Raheem':30,'Robert':35}
min(d1)

'Raheem'

In [32]:
d1={'Ram':25,'Raheem':30,'Robert':35}
len(d1)

3

In [34]:
d1={'Ram':25,'Raheem':30,'Robert':35}
sum(d1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [36]:
d2={1:3,3:4}
sum(d2)

4

In [ ]:
--->if keys has numeric then we can do sum

### In

In [1]:
d1={'Ram':25,'Raheem':30,'Robert':35}
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [11]:
for i in d1:
    print(i)

Ram
Raheem
Robert

### Index

In [176]:
l1=[10,20,30,40,50]
l1[0]

10

In [46]:
string1='Apple'
string1[0]

'A'

In [48]:
d1={'Ram':25,'Raheem':30,'Robert':35}
d1['Ram']
.

25

In [21]:
## can we get values using for loop
## Here i means "key"
d1={'Ram':25,'Raheem':30,'Robert':35}
for i in d1:
    print("the age of {} is {}".format(i,d1[i]))

the age of Ram is 25
the age of Raheem is 30
the age of Robert is 35

In [27]:
list1=[10,20,30,40,50]
for i in range(len(list1)):
    print(i,list1[i])

0 10
1 20
2 30
3 40
4 50

In [224]:
### here i means key
for i in range(len(d1)):
    print(i)

0
1
2

### Creating the empty dictionary and update :

In [31]:
s=''
for i in 'mahesh':
    s=s+i

print(s)

mahesh

In [228]:
### for example in if we have empty list 
### and we want to append the values to that empty list we will do like

l=[]
for i in range(10):
    l.append(i)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [93]:
### If we want to do using with the list comprehension 

l=[i for i in range(10)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [95]:
### Now in dictionary we do it like:
d1={}
d1['fruit']='apple'
d1           ### This like we will update the dictionary.

{'fruit': 'apple'}

In [101]:
## Write a program creat a data base name= mahesh , company= cognizant , place= hyderabad

d1={}
d1['name']='mahesh'
d1['comapany']='cognizant'
d1['place']='hyderabad'
d1

{'name': 'mahesh', 'comapany': 'cognizant', 'place': 'hyderabad'}

In [35]:
### Write a program creat a dictionary based on two lists
### name=['ram','raheem','robert']
### age=[25,30,35]

name=['ram','raheem','robert']
age=[25,30,35]
dict1={}
for i,j in zip(name,age):
    dict1[i]=j
dict1

{'ram': 25, 'raheem': 30, 'robert': 35}

In [41]:
name=['ram','raheem','robert']
age=[25,30,35]
for i in range(len(name)):
    print(i,name[i],age[i])

0 ram 25
1 raheem 30
2 robert 35

In [52]:
name=['ram','raheem','robert']
age=[25,30,35]
dict1={}
for i in range(len(name)):
    dict1[name[i]]=age[i]
dict1                                       ### Here "i" means key

{'ram': 20, 'raheem': 25, 'robert': 30}

### This is the dicionary comprehension:

In [131]:
dict1={name[i]:age[i] for i in range(len(name))}
dict1

{'ram': 25, 'raheem': 30, 'robert': 35}

In [ ]:
## Write a program take 5 random numbers 
## and creat a dictionary with even and odd

## output: {'even':[20,22],'odd':[19,21,23]}

In [174]:
dict1={}
even_list=[]
odd_list=[]
import random
for i in range(5):
    random_num=random.randint(20,25)
    if random_num%2==0:
        even_list.append(random_num)
    else:
        odd_list.append(random_num)
dict1['even_list']=even_list
dict1['odd_list']=odd_list
print(dict1)

{'even_list': [24, 20], 'odd_list': [21, 25, 23]}