--->create database movies;
--->create table actor(
        actor_id INT AUTO_INCREMENT PRIMARY KEY,
        first_name varchar(50) not null,
        last_name varchar(50),
        birth_date date,
        nationality varchar(50) default "indian",
        gender enum('male','female','other'),
        awards INT default 0
        );
--->insert into actor (first_name,last_name,birth_date,gender,awards) values
     ("arjun","allu","1997-02-03","male",2),
     ("rana","dhagubati","1992-01-11","male",5),
     ("kiran","abravaram","1999-06-14","male",7),
     ("pk","konidhela","1989-03-19","male",10);

Q1) Find the actor whose name starts with a?
Q2) Find actors whose first or last name ends with 'a'?
Q3) 
Q4) find whose first name is exactly 6 characters(use '__')?
Q5) find whose lasr name has 'a' as a second letter? LIKE _A%
Q6) find whose first name contains 'an' but doesnt start with 'A'
Q7)
Q8)

--->Like operator:
                --->It is a operator which works on string.
                --->We are using this "like" with where clause.
                --->It is also usedfor pattern matching.
                --->SYNTAX:
                            -->SELECT * FROM table_name WHERE column_name like "%anything%";
                            -->SELECT * FROM table_name WHERE column_name1,column_name1,......LIKE "%anything%";

--->LIKE : It is operator for patteren matching
--->a.%: it will match zero or more characters

        --->LIKE "a%"------>starts with
        --->LIKE "%a"------>Ends with
        --->LIKE "%"------->It will match all the strings
        --->LIKE "%a"------>It will match the strings which contains 'a'

--->NOT LIKE a%----->not starting with a

--->'-'---->underscore
---> _ ---->wild  character it will match the exact number of character in the string(1cha)
---> __ --->2cha