### Data types in MYSQL:

 --->Data types will specify the type of the attributes.
                1.Numeric data type:
                    --->It will take the numerical values such as a interger,floating point number and fixed point decimal number.
                                
                    --->Integer: +ve/-ve dont have fractional point.
                                
                    --->Floating point number: Floating point number will be store in the form of sign but,significant bit and exponent bit.(IEEE 714)
                                        Ex: 3.124
                                        Ex:10.75-->How exactly it is stored in memory?

                                    --->Interger datatype:
                                                            1.TINYINT: --->It will store very small integer value.
                                                                       --->Signed----(-128 to +128)
                                                                       --->unsigned(0 to 255)
                                                            2.SMALLINT:
                                                                        --->It will store small integer values.
                                                                        --->Signed -(-32768 to +32767)
                                                                        --->Unsigned -(0 to 65535)
                                                            3.INT:
                                                                        --->It will store the integer value
                                                                            MEDIUM INT
                                                                            BIGINT
                                     --->Floating datatype: 
                                                            FLOAT: It will take floating point number
                                                                    --->In case float the precision will be 8 digits (Here precision means fractional                                                                            numbers after decimal point)
                                                            DOUBLE: For DOUBLE we have precesion will be 15 to 16 digits
                                                            Decimal: It will used to store the fixed point decimal number.
                                                                    --->Price DECIMAL(10,2) after decimal there will be only two digits.
                2.DATE AND TIME DATA TYPE:
                        1.DATE: It will store a date  YYYY:MM:DD 
                        2.DATE TIME: It will store data and time  YYYY:MM:DD  HH:MM:SS
                        3.TIME STAMP: It will store the time based on UTC.
                                        --->It will automatically updated based on the current time.
                        4.TIME:
                                HH:MM:SS
                        5.YEAR:
                                YYYY
                3.STRING DATATYPE: 
                        1.CHAR:
                                --->It is used to stores the character data
                                --->It is fixed length
                                --->Once we specifies the length it will occupy that
                                --->Syntax: Item CHAR(10)
                                --->Better to use when we know the length of the string instead of wasting of the memory
                        2.VARCHAR:
                                --->It is also storing the string
                                --->It is variable length
                                --->Memory allocation of the string is getting changes depending upon the length of the string.
                                --->Syntax: ename VARCHAR(10)
                                --->Memory efficient as compare to char

### DATABASE CONSTRAINTS:

In [ ]:
1.NOT NULL:
    --->Attributes will not take the null value.
2.DEFAULT:
    --->It will set the default value.
3.UNIQU:
    --->It will store only unique values for the attributes.
    --->Table can have multiple unique key.
    --->Unique can take null values.
    --->In myaql we have any number of null values in unique key. While in other database there can only one null value can be allowed for unique key.
        Ex:email
4.CHECK:
    --->Restricting to the value should true based on the condition.
5.PRIMARY KEY:
    --->It should be unique AND NOT NULL.
6.AUTOINCREMENT:
    --->It will automatically generates the unique values when the record is inserted into the table.
    --->It primarily for primary key.
    --->eid INT AUTO_INCREMENT PRIMARY KEY
7.ENUM:
    --->It defines the attribute by the value from the list of value.
create table emp(
    eid int primary key,
    gender ENUM("male","female","other")not null);

In [ ]:
q)Create a table 
    frist name---varchar
second name---optional
lastname---varchar
pid----int----primary key
dob---date
gender----enum
martialstatus----enum



CREATE TABLE person(fisrt_name VARCHAR(20) NOT NULL,second_name VARCHAR(20),last_name VARCHAR(20) NOT NULL,DOB DATE,age INT,CHECK(age<=100),gender ENUM("MALE","FEMALE","OTHER") NOT NULL,
martial_status ENUM("MARRIED","NOT MARRIED") NOT NULL);

In [ ]:
CREATE TABLE person(
    fisrt_name VARCHAR(20) DEFAULT  NOT NULL,
    second_name VARCHAR(20),
    lase_name VARCHAR(20),
    pid INT PRIMARY KEY,
    DOB DATE,
    age INT,
    CHECK(age<=100)
    gender ENUM("MALE","FEMALE","OTHER") NOT NULL,
    martial_statud ENUM("MARRIED","NOT MARRIED") NOT NULL
    );