4.Referential intergrity constraints:
    
--->It is a attribute or set of attribute or set of attribute(composite key) which referening to the primary key of same table or different table.`
--->It is used to form the relation between toe or more table.
--->It is used to implements refential integrity constraints.
--->One table can have multiple foregin keys.
--->Where is exactly the forgien key is present we called that table as referencing table.
--->Where the primary key is present we called that table as referenced table.
--->Forgien key and primary key can have different name.

SYNTAX:

create table  table_name(
    attribute 1 data type,
    attribute 2 data type,
    foregin key(attribute2)---------->data type of primary key referenicing to base_table(pk)
    );

In [ ]:
Q.) create table customer (cid int, cname VARCHAR(20), address VARCHAR(20));
    create table ordered (order_id int,ordered_date date,cid int,total_ammount int)

In [ ]:
Select:
1.Getting the all the records:
    select * from table_name;
2.Retriving the particular records;
    selct

In [ ]:
emp(eid,ename,esalary,eage)
want the all records where the employee salary is greater than the 5000 and age less than 40

select * from employee where esalary>5000 and age<40;

--->mysql is  a case insensitve language.
        ename="mayur"
        where ename="mayur"
              ename="Mayur"
select * from employee where binary

ename='mayur';

In [ ]:
-->alias:short name
select eid as id, ename as name from employee;

Update:

In [ ]:
--->It is used to update the table name particular atrribute in the table
syntax:
update table_name SET attribute="value"
where condition;


update employee set ename='newname' where eid=101;

In [ ]:
4.Delete:
        --->It is used to delete the particular record from the table.
        --->Syntax:
                    DELETE FROM table_name where condition;
        --->TURNCATE will delete all the rows from the table nut it wont delete yhe structure of a table.
        --->It will drop whole table and recreate it.

In [ ]:
create table emp1(
    eid int primary key,
    ename varchar(20),
    salary decimal(10,2),
    age int
    );