### Dicitonary Methods

### ITEMS-KEYS-VALUE

In [4]:
dir({})

#str=''
#list=[]
#dict={}

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [8]:
d1={"ram":25,"raheem":30,"Robert":35}
d1

{'ram': 25, 'raheem': 30, 'Robert': 35}

In [18]:
## Items
items=d1.items()
items

dict_items([('ram', 25), ('raheem', 30), ('Robert', 35)])

In [20]:
type(items)

dict_items

In [30]:
## Keys
keys=d1.keys()
keys

dict_keys(['ram', 'raheem', 'Robert'])

In [32]:
type(keys)

dict_keys

In [34]:
## values
values=d1.values()
values

dict_values([25, 30, 35])

In [36]:
type(values)

dict_values

In [38]:
l1=[10,20,30]
l1.append(40)
l1

[10, 20, 30, 40]

In [54]:
## here above dict_values([20,30,35]) this is not a list to konw what type of it. so to konw that we will convert it into a list.
## Then you can apply list methods

values
values_list=list(values)
values_list

[25, 30, 35]

In [56]:
### Now we are doing for keys
key_list=list(keys)
key_list

['ram', 'raheem', 'Robert']

In [ ]:
### So in interviewi will give you the dictinoary 
### can you extract keys and values in a list

### i will give two list keys and values
### can you creat a dictionary

In [82]:
d1={"ram":25,"raheem":30,"Robert":35}
keys=list(d1.keys())
values=list(d1.values())
print(keys)
print(values)
dict1={}
for i,j in zip(keys,values):
    dict1[i]=j
dict1

['ram', 'raheem', 'Robert']
[25, 30, 35]

{'ram': 25, 'raheem': 30, 'Robert': 35}

In [84]:
keys=['ram','raheem','robert']
values=[25,30,35]
dict1={}
for i,j in zip(keys,values):
    dict1[i]=j
dict1

{'ram': 25, 'raheem': 30, 'robert': 35}

In [1]:
str1="pyhton.anaconda@nareshit.com"
print("first name:",str1[:str1.find('.')])
print("second name:",str1[str1.find('.')+1:str1.find('@')])
print("third name:",str1[str1.find('@')+1:str1.find('.',str1.find('.')+1)])

first name: pyhton
second name: anaconda
third name: nareshit

In [ ]:
#s1='virat.kohili@blr.com,rohit.sharma@mumbai.com,kl.rahul@lucknow.com'
#ouput should be: {"first name":["virat","rohit","kl"]
## "second name:["kohili","sharma","rahul"]
## comapnay:["blr","mumbai","lucknow"]

In [150]:
s1='virat.kohili@blr.com,rohit.sharma@mumbai.com,kl.rahul@lucknow.com'
d1={}
first_name=[s1[:str1.find('.')]for str1 in s1.split(',')]
second_name=[s1[s1.find('.')+1:s1.find('@')] for s1 in s1.split('.')]
company_name=[s1[s1.find('@')+1:s1.find('.',s1.find('.')+1)] for s1 in s1.split(',')]
first_name,second_name,company_name
d1['first_name']=first_name
d1['second_name']=second_name
d1['company_name']=company_name
d1

{'first_name': ['virat', 'virat', 'vi'],
 'second_name': ['vira',
  'kohili',
  'com,rohi',
  'sharma',
  'com,k',
  'rahul',
  'co'],
 'company_name': ['blr', 'mumbai', 'lucknow']}

In [142]:
str1='can can you canner can you able to can canner.'
l1=str1.split(' ')
d1={}
for i in l1:
    d1[i]=l1.count(i)
d1

{'can': 4, 'you': 2, 'canner': 1, 'able': 1, 'to': 1, 'canner.': 1}

In [122]:
str1='can can you canner can you able to can canner.'
str1.split()

['can', 'can', 'you', 'canner', 'can', 'you', 'able', 'to', 'can', 'canner.']

In [124]:
d1.keys()

dict_keys(['can', 'you', 'canner', 'able', 'to', 'canner.'])

In [126]:
d1.values()

dict_values([4, 2, 1, 1, 1, 1])

In [3]:
str2="hi how are you and how do you do"
l2=str2.split(' ')
d2={}
for i in l2:
    d2[i]=l2.count(i)
d2

{'hi': 1, 'how': 2, 'are': 1, 'you': 2, 'and': 1, 'do': 2}

In [5]:
str2="hi how are you and how do you do"
str2.split()

['hi', 'how', 'are', 'you', 'and', 'how', 'do', 'you', 'do']

In [7]:
d2.keys()

dict_keys(['hi', 'how', 'are', 'you', 'and', 'do'])

In [9]:
d2.values()

dict_values([1, 2, 1, 2, 1, 2])

In [128]:
list1=[100,200,300]
list2=[25,30,35]
for i,j in zip(list1,list2):
    print(i+j)

125
230
335

In [21]:
list1=[100,200,300]
list2=[25,30,35]
output=[]
for i,j in zip(list1,list2):
    output.append(i+j)
output

[125, 230, 335]

In [172]:
d1={'a':20,'b':20,'c':40}
d2={'a':50,'b':100,'c':200}
#o/p={'a':70,'b':130,'c':240}
result={key:d1.get(key,0)+d2.get(key,0)for key in set(d1)|set(d2)}
print(result)

{'a': 70, 'b': 120, 'c': 240}

In [35]:
d1={'a':20,'b':20,'c':40}
d2={'a':50,'b':100,'c':200}
output=[]
for i,j in zip(d1,d2):
    output.append(i+j)
output

['aa', 'bb', 'cc']