In [ ]:
## These is using append and list comprehension

In [97]:
list1=['hyd','bengaluru','delhi']
output=[]
for i in list1:
    output.append(i.capitalize())
output

['Hyd', 'Bengaluru', 'Delhi']

In [ ]:
### these is using list comprehension

In [99]:
output1=[i.capitalize() for i in list1]
output1

['Hyd', 'Bengaluru', 'Delhi']

In [ ]:
--->Now we are doing with the lambda function:

In [ ]:
lambda <arguments>: <output>

In [ ]:
## Whenever you use iterations 

## iterator: some thing can be iterable which means  you can print using forloop.

## list,string,tuple,dictionary---->here this all are iterations

In [ ]:
--->So whenever you are taking from the iterator --->iterator might be list --->iterator might be string

## Then you should modife the string 

lambda <arguments>: <output>,<iterator>

[i.capitalize() for i in list1]

In [9]:
list1=['hyd','chennai','mumbai']
lambda i:i.capitalize(),list1

(<function __main__.<lambda>(i)>, ['hyd', 'chennai', 'mumbai'])

In [ ]:
--->Next thing is map input and output

In [11]:
list1=['hyd','chennai','mumbai']
map(lambda i:i.capitalize(),list1)

In [ ]:
-->store the ouput

In [13]:
list(map(lambda i:i.capitalize(),list1))

['Hyd', 'Chennai', 'Mumbai']

In [ ]:
--->First make a lambda function.
--->Second add your iterator.
--->Map both function and iterator.
--->Save the result in a list.

In [15]:
list1=['hyd','chennai','mumbai']
lambda i:i.capitalize(),list1
map(lambda i:i.capitalize(),list1)  ## after mapping we ahve to store in the list
list(map(lambda i:i.capitalize(),list1))

['Hyd', 'Chennai', 'Mumbai']

In [29]:
list1=[1,2,3,4,5]
list2=[]
for i in list1:
    list2.append(i*i)
list2

[1, 4, 9, 16, 25]

In [31]:
list1=[1,2,3,4,5]
lambda i:i*i,list1
map(lambda i:i*i,list1)
list(map(lambda i:i*i,list1))

[1, 4, 9, 16, 25]

In [39]:
list1=[1,2,3]
list2=[11,22,33]
for i,j in zip(list1,list2):
    print(i+j)

12
24
36

In [91]:
list1=[1,2,3]
list2=[11,22,33]
lambda i,j:i+j,list1+list2
map(lambda i,j:i+j,list1+list2)
list(map(lambda i,j:i+j,list1,list2))

[12, 24, 36]

In [49]:
list1=['h#d','mumb#i','chennai']
output=[]
for i in list1:
    if '#' in i:
        output.append(i)
output

['h#d', 'mumb#i']

In [ ]:
### list comprehension for above code.

In [53]:
output=[i for i in list1 if '#' in i]
output

['h#d', 'mumb#i']

In [ ]:
### now by using lambda

# lambda <argument>:<condition>:<iterator>

In [59]:
list1=['h#d','mumb#i','chennai']
list(map(lambda i:'#' in i,list1))

## condition is mapping to list of items

[True, True, False]

In [65]:
## now inorder to get the output insted of unsing "map" we have to use the "filiter"

list1=['h#d','mumb#i','chennai']
list(filter(lambda i:'#' in i, list1))

['h#d', 'mumb#i']

In [ ]:
## How to connect chat gpt through python